[user]
	name = Brady Lenz
	email = "30730494+bradylenz@users.noreply.github.com"
	{{- if eq .chezmoi.hostname "brick" }}
	signingKey = 8B8E5A4E77ABF1EE
	{{- end }}
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[core]
	editor = nvim
[pull]
	rebase = true
